# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Python / Backend
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/*.sqlite3
backend/db.sqlite3

# OS / Editor Files
.DS_Store
.vscode/
.idea/
*.log
